<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Editor Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>MoonCodeApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MoonEdit.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>MoonKitTests copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>MoonKitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>MoonKit_Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>MoonKit_Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>MoonKit_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>MoonKit_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MoonTestKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C228E124258E5FB40060E476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C228E14B258E67740060E476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C239A1B025A778E200A14982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C239A1CE25A7795300A14982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29DBCE51FEC03C700A7EB56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29DBD041FEC041400A7EB56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CCD705258EC5FB00E9923C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
